section.cvc-project-detail-1
    .container
        .row
            .col-md-6
                .image
                    img(src="./img/project/1.png", alt="")
            .col-md-6
                .info-detail
                    h2 Giám sát quy trình kiểm tra dây đai truyền lực của công nhân:
                    p - Mục đích: giám sát quy trình kiểm tra lỗi sản phẩm trước khi đóng gói,  thông báo cho công nhân nếu sản phẩm chưa được kiểm tra.
                    p - Thiết bị:  Tủ điện Rittal, PLC Siemens, switch Phoenix,  phụ kiện Eaton…
                    p - Thời gian hoàn thành: tháng 9/2018

