.giai-thuong-wrapper 
    h1.main-title Giải thưởng
    .container 
        .slider
            .swiper-container 
                .swiper-wrapper 
                    .swiper-slide 
                        .item 
                            .img 
                                img(src="./img/about/8.png", alt="")
                            .title 
                                h3 Chứng nhận iso
                    .swiper-slide 
                        .item 
                            .img 
                                img(src="./img/about/9.png", alt="")
                            .title 
                                h3 Chứng nhận iso
                    .swiper-slide 
                        .item 
                            .img 
                                img(src="./img/about/10.png", alt="")
                            .title 
                                h3 Chứng nhận iso
                    .swiper-slide 
                        .item 
                            .img 
                                img(src="./img/about/11.png", alt="")
                            .title 
                                h3 Chứng nhận iso
                    .swiper-slide 
                        .item 
                            .img 
                                img(src="./img/about/8.png", alt="")
                            .title 
                                h3 Chứng nhận iso
                    
            .swiper-navigation
                    .product-button-prev
                        em.lnr.lnr-arrow-left
                    .product-button-next
                        em.lnr.lnr-arrow-right