section.home-banner 
    .swiper-container
        .swiper-wrapper
            .swiper-slide 
                .img 
                    img(src="./img/about/home-banner.png", alt="")
                .title 
                    .img 
                        img(src="./img/cvc.png", alt="")
                    p Tự động hóa trở nên dễ dàng
            .swiper-slide 
                .img 
                    img(src="./img/about/home-banner.png", alt="")
                .title 
                    .img 
                        img(src="./img/cvc.png", alt="")
                    p Tự động hóa trở nên dễ dàng
            .swiper-slide 
                .img 
                    img(src="./img/about/home-banner.png", alt="")
                .title 
                    .img 
                        img(src="./img/cvc.png", alt="")
                    p Tự động hóa trở nên dễ dàng
        .swiper-pagination