section.sanpham-wrapper.pd-60
	.container
		.row
			.col-xl-3.col-lg-4
				.side-menu
					.side-menu-mobile-header
						h3 
							span Chuyên mục
							span.mdi.mdi-menu
					.side-menu-list
						.side-menu-item.active
							h3.title
								a(href="#") Cầu chì công nghiệp
								span.lnr.lnr-chevron-down
							ul(style="display: block")
								li
									a(href="#") Cầu chì trung thế 
								li
									a(href="#") Cầu chì hạ thế
								li
									a(href="#") Cầu chì đặc biệt
								li
									a(href="#") Phụ kiện cầu chì và đế cầu chì
								
						.side-menu-item
							h3.title 
								a(href="#") Thiết bị chống sét lan truyền
								span.lnr.lnr-chevron-down
							ul
								li
									a(href="#") 
						.side-menu-item
							h3.title 
								a(href="#") Thiết bị bảo vệ Solar
								span.lnr.lnr-chevron-down
							ul
								li
									a(href="#") Cầu chì DC
								li
									a(href="#") Chống sét DC-AC
								li
									a(href="#") Tủ gom dây (Combiner box)
								li
									a(href="#") Ramkit
						.side-menu-item
							h3.title 
								a(href="#") Động cơ rung
								span.lnr.lnr-chevron-down
							ul
								li
									a(href="#") 
						.side-menu-item
							h3.title 
								a(href="#") Thiết bị khí nén thủy lực
								span.lnr.lnr-chevron-down
							ul
								li
									a(href="#") 
						.side-menu-item
							h3.title 
								a(href="#") Thiết bị tự động hóa
								span.lnr.lnr-chevron-down
							ul
								li
									a(href="#") 
						.side-menu-item
							h3.title 
								a(href="#") Tư vấn lắp đặt hệ thống Năng lượng mặt trời
								span.lnr.lnr-chevron-down
							ul
								li
									a(href="#") 
						.side-menu-item
							h3.title 
								a(href="#") Thiết kế và thẩm tra thiết kế cơ điện
								span.lnr.lnr-chevron-down
							ul
								li
									a(href="#") 
								
						
			.col-xl-9.col-lg-8
				h2.main-title Cầu chì
				.select-bar
					.filter-wrapper
						select
							option Sắp xếp theo
							option Sắp xếp theo
							option Sắp xếp theo
							option Sắp xếp theo
					.sort-wrapper
						select
							option Sắp xếp theo
							option Sắp xếp theo
							option Sắp xếp theo
							option Sắp xếp theo
				.row.product-list
					.col-md-4.col-6
						.product-item
							.imgbox
								a(href="./chi-tiet-san-pham.html")
									img(src="./img/pro/1.jpg", alt="")
							.title
								h4 Cầu chì Bussmann / Eaton 170M3819
							.info-hover
								h4
									a(href="./chi-tiet-san-pham.html") Cầu chì Bussmann / Eaton 170M3819
								a.btn-viewmore.white(href="./chi-tiet-san-pham.html") 
									span Xem thêm
									span.lnr.lnr-arrow-right
					.col-md-4.col-6
						.product-item
							.imgbox
								a(href="./chi-tiet-san-pham.html")
									img(src="./img/pro/2.jpg", alt="")
							.title
								h4 Cầu chì Ferraz Shawmut 45DB240V160P
							.info-hover
								h4
									a(href="./chi-tiet-san-pham.html") Cầu chì Ferraz Shawmut 45DB240V160P
								a.btn-viewmore.white(href="./chi-tiet-san-pham.html") 
									span Xem thêm
									span.lnr.lnr-arrow-right
					.col-md-4.col-6
						.product-item
							.imgbox
								a(href="./chi-tiet-san-pham.html")
									img(src="./img/pro/3.jpg", alt="")
							.title
								h4 Cầu chì 10X38 FERRAZ SHAWMUT FR10GR69V8 
							.info-hover
								h4
									a(href="./chi-tiet-san-pham.html") Cầu chì 10X38 FERRAZ SHAWMUT FR10GR69V8 
								a.btn-viewmore.white(href="./chi-tiet-san-pham.html") 
									span Xem thêm
									span.lnr.lnr-arrow-right
					.col-md-4.col-6
						.product-item
							.imgbox
								a(href="./chi-tiet-san-pham.html")
									img(src="./img/pro/4.jpg", alt="")
							.title
								h4 Cầu chì HINODE 660GH-100 
							.info-hover
								h4
									a(href="./chi-tiet-san-pham.html") Cầu chì HINODE 660GH-100 
								a.btn-viewmore.white(href="./chi-tiet-san-pham.html") 
									span Xem thêm
									span.lnr.lnr-arrow-right
					.col-md-4.col-6
						.product-item
							.imgbox
								a(href="./chi-tiet-san-pham.html")
									img(src="./img/pro/5.jpg", alt="")
							.title
								h4 Cầu chì ETI D02-63A  
							.info-hover
								h4
									a(href="./chi-tiet-san-pham.html") Cầu chì ETI D02-63A 
								a.btn-viewmore.white(href="./chi-tiet-san-pham.html") 
									span Xem thêm
									span.lnr.lnr-arrow-right
					.col-md-4.col-6
						.product-item
							.imgbox
								a(href="./chi-tiet-san-pham.html")
									img(src="./img/pro/6.jpg", alt="")
							.title
								h4 Cầu chì Eaton 7BCLS-6R
							.info-hover
								h4
									a(href="./chi-tiet-san-pham.html") Cầu chì Eaton 7BCLS-6R
								a.btn-viewmore.white(href="./chi-tiet-san-pham.html") 
									span Xem thêm
									span.lnr.lnr-arrow-right
					.col-md-4.col-6
						.product-item
							.imgbox
								a(href="./chi-tiet-san-pham.html")
									img(src="./img/pro/7.jpg", alt="")
							.title
								h4 Cầu chì Bussmann / Eaton 170M3819
							.info-hover
								h4
									a(href="./chi-tiet-san-pham.html") Cầu chì Bussmann / Eaton 170M3819
								a.btn-viewmore.white(href="./chi-tiet-san-pham.html") 
									span Xem thêm
									span.lnr.lnr-arrow-right
					.col-md-4.col-6
						.product-item
							.imgbox
								a(href="./chi-tiet-san-pham.html")
									img(src="./img/pro/8.jpg", alt="")
							.title
								h4 Cầu chì Ferraz Shawmut 45DB240V160P
							.info-hover
								h4
									a(href="./chi-tiet-san-pham.html") Cầu chì Ferraz Shawmut 45DB240V160P
								a.btn-viewmore.white(href="./chi-tiet-san-pham.html") 
									span Xem thêm
									span.lnr.lnr-arrow-right
					.col-md-4.col-6
						.product-item
							.imgbox
								a(href="./chi-tiet-san-pham.html")
									img(src="./img/pro/9.jpg", alt="")
							.title
								h4 Cầu chì 10X38 FERRAZ SHAWMUT FR10GR69V8 
							.info-hover
								h4
									a(href="./chi-tiet-san-pham.html") Cầu chì 10X38 FERRAZ SHAWMUT FR10GR69V8 
								a.btn-viewmore.white(href="./chi-tiet-san-pham.html") 
									span Xem thêm
									span.lnr.lnr-arrow-right
					
				.pages
					.modulepager
						ul.pagination
							li.PagerCurrentPageCell.active
								span.SelectedPage 1
							li.PagerOtherPageCells
								a.ModulePager(href='#') 2
							li.PagerOtherPageCells
								a.ModulePager(href='#') 3
							li.PagerOtherPageCells
								a.ModulePager(href='#') 4
							li.PagerOtherPageCells
								a.ModulePager(href='#') 5
							li.PagerOtherPageCells
								a.ModulePager(href='#') 6
							li.PagerOtherPageCells
								a.ModulePager(href='#') 7
							li.PagerOtherPageCells
								a.ModulePager(href='#') 8
							li.PagerOtherPageCells
								a.ModulePager(href='#') 9
							li.PagerOtherPageCells
								a.ModulePager.NextPage(href='#') ›
							li.PagerOtherPageCells
								a.ModulePager.LastPage(href='#') »