section.cvc-footer
    footer(setBackground='./img/footer.png')
        .top-footer
            .container.wrapper
                .row
                    .col-lg-5.text 
                        .img
                            img(src="./img/dk.png", alt="")
                        .content
                            h2 Đăng ký nhận bản tin
                            p Nhận những thông tin về sản phẩm mới, sự kiện và khuyến mãi
                    .col-lg-7.box-input 
                        input(type="text" placeholder="Nhập email...")
                        button Đăng ký
                            em.mdi.mdi-arrow-right
        .container
            .chinh-sach
                .row
                    .col-6.col-lg-3.item
                        figure 
                            .img 
                                img(src="./img/cs1.png", alt="")
                            figcaption 
                                h4 100% chính hãng
                                p Đối tác ủy quyền chính thức nhiều thương hiệu hàng đầu
                    .col-6.col-lg-3.item
                        figure 
                            .img 
                                img(src="./img/cs2.png", alt="")
                            figcaption 
                                h4 Hỗ trợ tư vấn
                                p Giải đáp nhanh mọi thắc mắc - yêu cầu từ khách hàng
                    .col-6.col-lg-3.item
                        figure 
                            .img 
                                img(src="./img/cs3.png", alt="")
                            figcaption 
                                h4 Chính sách đổi trả
                                p Đảm bảo sự hài lòng của khách hàng với chính sách đa dạng
                    .col-6.col-lg-3.item
                        figure 
                            .img 
                                img(src="./img/cs4.png", alt="")
                            figcaption 
                                h4 Bảo hành miễn phí
                                p Áp dụng theo quy định của từng hãng sản xuất sản phẩm
                    
            .footer-bottom
                .row
                    .col-lg-3.col-sm-6.ft-col
                        h3 CÔNG TY TNHH TM DV CHÂU VĨNH CƯỜNG
                        .add 
                            p 220/71 Lê Văn Sỹ, Phường 14,  Quận 3, TP Hồ Chí Minh
                        .add
                            em.mdi.mdi-map-marker
                            p Lô 33, KCN Tam Phước, Tp. Biên Hòa, Tỉnh Đồng Nai 
                        .add  
                            em.mdi.mdi-phone
                            p 84 251 3511179 
                        .add
                            em.mdi.mdi-fax
                            p 84 251 3512005
                        .add 
                            p Số ĐKKD: 0310460102 do Sở Kế Hoạch và Đầu Tư Tp. Hồ Chí Minh cấp ngày 18/11/2010
                    .col-lg-3.col-sm-6.ft-col
                        h3 hỗ trợ khách hàng
                        ul
                            li
                                a(href="") Nhóm Thiết bị chiếu sáng
                            li
                                a(href="") Nhóm Công tắc ổ cắm
                            li
                                a(href="") Nhóm Ống luồn
                            li
                                a(href="") Nhóm Thiết bị nối dây
                            li
                                a(href="") Nhóm Thiết bị công nghiệp 
                    .col-lg-3.col-sm-6.ft-col
                        h3 liên kết nhanh
                        ul
                            li
                                a(href="") Tài liệu hỗ trợ
                            li
                                a(href="") Giới thiệu
                            li
                                a(href="") Dịch vụ - Giải pháp
                            li
                                a(href="") Tin tức - Sự kiện
                            li
                                a(href="") Liên hệ
                    .col-lg-3.col-sm-6.ft-lienhe
                        h3 kết nối với chúng tôi
                        ul
                            li.social-icon
                                a.fb(href="#")
                                    em.fab.fa-facebook-f
                                a.ytb(href="#")
                                    em.fab.fa-youtube
                                a.twt(href="#")
                                    em.fab.fa-twitter
                            li
                                a(href="") 
                                    img(src="./img/dangky.png", alt="")
                            li
                                a(href="") 
                                    img(src="./img/dmca.png", alt="")
           
            .copyright
                .left
                    p Copyright © 2019 by Châu Vĩnh Cường. Tất cả các quyền được bảo hộ. Thiết kế bởi 
                        span 
                            a(href="https://canhcam.vn") Cánh Cam.
                ul.right
                    li
                        a(href="#") Điều khoản sử dụng
                    li
                        a(href="#") Chính sách bảo mật  
        a(href="tel:0913341412").contact-button-wrapper
            .ic 
                em.mdi.mdi-phone