header
	.top-header
		.container
			.row.no-gutters
				.search.Module
					.searchbox
						input(placeholder="Nhập sản phẩm cần tìm...")
						button
							span.mdi.mdi-magnify
				ul.contact
					li
						a.hotline(href="tel:02873000296")
							img(src="./img/phone.png", alt="")
							span 0913 314 
					li
						a.mail(href="")
							img(src="./img/mail.png", alt="")
							span info@cvcvina.com
					
				.social.Module
					.ModuleContent
						ul
							li
								a(href="#")
									img(src="./img/skype.png", alt="")
							li
								a(href="#")
									img(src="./img/zalo.png", alt="")
							
				.language-wrapper
					.language-active
						p VN
						em.mdi.mdi-chevron-down
					.language-list
						a(href="#").language-item EN
						a(href="#").language-item EN
	.bottom-header
		.container
			.row.no-gutters
				.logo-wrapper
					.logo
						a(href="/")
							img(src="./img/logo.png", alt="")
				.main-menu
					ul
						li
							a(href="/") Trang chủ
						li
							a(href="gioithieu.html") Giới thiệu
						li
							a(href="sanpham.html") Sản phẩm
						li
							a(href="duan.html") Dự án
						li
							a(href="truyenthong.html") Tin tức - sự kiện 
						li
							a(href="hotro-faq.html") Tuyển dụng
						li
							a(href="lienhe.html") Truyền thông
						li
							a(href="lienhe.html") Liên hệ
				.mobile-toggle
					.button
				.back-drop
	.mobile-menu