.tuyendung-ct
    .container
        .row
            .col-lg-9
                h1 Nhân viên Sale
                h2 Thông tin tuyển dụng
                .brief-content
                    .row
                        .col-lg-3
                            table.table-v2
                                tr
                                    td Kinh nghiệm
                                tr
                                    td Yêu cầu bằng cấp
                                tr
                                    td Số lượng cần tuyển
                                tr
                                    td Hình thức làm việc
                                tr
                                    td Chức vụ
                                tr
                                    td Yêu cầu giới tính
                                tr
                                    td Yêu cầu độ tuổi
                                tr
                                    td Thời gian thử việc
                                tr
                                    td Địa điểm làm việc
                        .col-lg-3
                            table.table-v2
                                tr
                                    td  1 năm
                                tr
                                    td  Cao đẳng trở lên

                                tr
                                    td  2
                                tr
                                    td  Toàn thời gian cố định

                                tr
                                    td  Nhân viên

                                tr
                                    td   Không yêu cầu

                                tr
                                    td  dưới 35 tuổi

                                tr
                                    td  1-2 tháng (tùy theo năng lực)
                                tr
                                    td  TP.HCM


                .full-content
                    div
                        h2 Mô tả công viêc: 
                        ul
                            li Liên hệ với khách hàng dựa trên data có sẵn, giới thiệu,  tư vấn và thuyết phục khách hàng 

                            li Chăm sóc khách hàng, giải đáp những thắc mắc của khách hàng qua điện thoại... trong quá trình sử dụng  dịch vụ

                            li Liên kết, hỗ trợ với các bộ phận khác để thúc đẩy chất lượng làm việc với khách hàng,

                            li Đề ra chiến lược, lập kế hoạch kinh doanh, chương trình Pr-marketing tổng thế và cho dịch vụ thương mại điện tử “mua bán, rao vặt” đáp ứng nhu cầu kinh Doanh của công ty.

                            li Tham gia triển khai và hiện thực hóa chiến lược, kế hoạch và chương trình đã được thống nhất và phê duyệt.

                            li Mở rộng phân phối và phát triển khách hàng tiềm năng

                            li Nghiên cứu thị trường, tâm lý khách hàng để phát triển, xây dựng các ý tưởng Pr-Marketing mới.

                            li Dự báo phân tích cơ hội, khách hàng , sản phẩm, khu vực và đối tượng khách hàng.

                            li Lập kế hoạch, kiểm tra việc thực hiện các chương trình quảng bá, khuyến mãi cụ thể dành cho khách hàng để hỗ trợ cho phát triển kinh doanh nhằm đạt được mục tiêu đề ra.
                        h2 Quyền lợi được hưởng
                        ul
                            li Lương cố định và phụ cấp cơm trưa (từ 6 – 12 triệu, tùy theo năng lực), lương không bao gồm tiền thưởng

                            li Tăng lương ít nhất 01 lần trong năm, mức tăng theo năng lực làm việc.

                            li Làm việc từ thứ 2- 6 (8h00 – 12h00 và 13h30 – 17h30) .

                            li Thưởng năm, thưởng nghỉ lễ 30/4, 2/9, tết

                            li Được thường xuyên đi du lịch trong và ngoài nước

                            li Được tham gia BHXH, BHYT… Và các chế độ khác theo Bộ Luật Lao Động

                            li Môi trường làm việc trẻ trung, hiện đại, năng động và chuyên nghiệp, cung cấp các phương tiện, công cụ chăm sóc khách hàng tốt nhất.

                            li Chưa có kinh nghiệm sẽ được đào tạo từ cơ bản đến chuyên sâu về Chăm sóc khách hàng, nâng cao kỹ năng tư vấn, tham gia các khóa học phát triển bản thân

                            li Cơ hội thăng tiến lên Trưởng nhóm kinh doanh với thu nhập rất hấp dẫn
                        h2 Yêu cầu công việc

                        ul
                            li  Có hiểu biết về Thương mại điện tử nói chung, đặc biệt online marketing.

                            li Có khả năng xây dựng và chăm sóc các mối quan hệ với khách hàng và nội bộ công ty.


                            li Thành thạo tin học văn phòng, internet và các công cụ mạng.


                            li Có chính kiến, khả năng tự quyết và nghiên cứu, dự báo, phân tích, tổng hợp tốt.


                            li  Có kỹ năng giao tiếp tốt, có khả năng nắm bắt, trình bày vấn đề.


                            li Có kỹ năng làm việc độc lập, theo nhóm và khả năng phối hợp cùng các bộ phận khác trong công ty.

                            li Năng động, sáng tạo


                            li Có tinh thần trách nhiệm cao trong công việc, có thái độ làm việc nghiêm túc, chăm chỉ, nhiệt tình, hài hước, hòa đồng là một lợi thế lớn.


                            li Nhanh nhẹn giải quyết thắc mắc khách hàng, chịu được áp lực cao trong công việc
                        h2 Yêu cầu hồ sơ
                        ul
                            li Đơn xin việc
                            li Sơ yếu lý lịch có xác nhận của địa phương

                            li Hộ khẩu, chứng minh nhân dân và giấy khám sức khỏe.

                            li Các bằng cấp có liên quan.
                        h2 Thông tin liên hệ
                        ul
                            li Người liên hệ: Ms Tiên
                            li Số điện thoại: 0941 85 49 59
                            li Địa chỉ công ty: 220/71 Lê Văn Sỹ ,Phường 14, Quận 3, TP.HCM
                            li Email: tuyendung@cvcvina.com
                    p.MsoNormal(style='text-align:justify;tab-stops:center 378.0pt;')  
                    .buttons
                        a.btn-register(href='javascript:void(0)', data-fancybox='', data-src='#ungtuyen') Ứng tuyển
            .col-lg-3
                .other-news-title Tuyển dụng khác
                .other-news
                    .item
                        .time 16/10/2019 11:00
                        a.title(href='http://datvinhtien.vn/tuyen-dung/nhan-vien-qc-dien', target='_blank', title='Nhân viên QC Điện') Kế toán nội bộ
                    .item
                        .time 16/10/2019 11:00
                        a.title(href='http://datvinhtien.vn/tuyen-dung/tuyen-dung-nhan-vien-van-hanh-may-co-khi', target='_self', title='Nhân viên vận hành máy Cơ Khí') Nhân viên Kỹ Thuật
            .hidden
                #ungtuyen
                    .popup-body
                        iframe(src='http://datvinhtien.vn/News/JobApplyDialog.aspx?zoneid=117&NewsID=255', frameborder='0')
