<?xml version="1.0" encoding="utf-8" ?>
<settings>

    <!--value bắt buộc phải là giá trị binary. Ví dụ: 1; 2; 4; 8; 16;...-->
    <position>
      <add name="Menu chính" value="1" resourcefile="" />
      <add name="Menu footer" value="2" resourcefile="" />
      <add name="Menu footer2" value="4" resourcefile="" />
      <add name="sidebar menu" value="8" resourcefile="" />
      <add name="tin tức navigation" value="16" resourcefile="" />
      <add name="truyền thông navigation" value="32" resourcefile="" />
      <add name="hỗ trợ navigation" value="64" resourcefile="" />
      <add name="about nav" value="128" resourcefile="" />
      <add name="home dt" value="256" resourcefile="" />
      <add name="home kh" value="512" resourcefile="" />
      <add name="sản phẩm nổi bật" value="1024" resourcefile="" />
      <add name="nav test" value="2048" resourcefile="" />











      
    </position>

</settings>