section.section.hoi-dap
    .container
        h1.main-title Tài liệu hỗ trợ
        .row
            //- .col-lg-3
            //-     .side-menu
            //-         .side-menu-mobile-header
            //-             h3 
            //-                 span Chuyên mục
            //-                 span.mdi.mdi-menu
            //-         .side-menu-list
            //-             .side-menu-item.active
            //-                 h3.title
            //-                     a(href="#") Tài liệu
            //-                     span.lnr.lnr-chevron-down
            //-                 //- ul(style="display: block")
            //-                 //-     li
            //-                 //-         a(href="#") 
                                
								
            //-             .side-menu-item
            //-                 h3.title 
            //-                     a(href="#") Hỏi đáp
            //-                     span.lnr.lnr-chevron-down
            //-                 ul
            //-                     li
            //-                         a(href="#") 
            .col-lg-12
                .table-responsive 
                    table.table
                        thead
                            tr
                                th.title(scope='col') Tên tài liệu
                                th(scope='col') Ngày đăng
                                th(scope='col') Xem
                                th(scope='col') Tải về
                        tbody 
                            tr 
                                td.title Giấy chứng nhận Đại lý Mersen
                                td 20/10/1029

                                td 
                                    a(href="./img/tl/1.png" data-fancybox="image")
                                        em.mdi.mdi-file-outline
                                td 
                                    a(href="")
                                        em.lnr.lnr-download
                            tr 
                                td.title Giấy chứng nhận ISO 9001:2015
                                td 20/10/1029

                                td 
                                    a(href="" data-fancybox="image")
                                        em.mdi.mdi-file-outline
                                td 
                                    a(href="")
                                        em.lnr.lnr-download
                            tr 
                                td.title Thông báo Mersen mua lại Miro (tiếng Trung)
                                td 20/10/1029

                                td 
                                    a(href="" data-fancybox="image")
                                        em.mdi.mdi-file-outline
                                td 
                                    a(href="")
                                        em.lnr.lnr-download
                            tr 
                                td.title Công văn bảo hành của Mersen
                                td 20/10/1029

                                td 
                                    a(href="" data-fancybox="image")
                                        em.mdi.mdi-file-outline
                                td 
                                    a(href="")
                                        em.lnr.lnr-download
                            tr 
                                td.title Thông báo xuất xứ dòng 170M của hãng Bussmann
                                td 20/10/1029

                                td 
                                    a(href="" data-fancybox="image")
                                        em.mdi.mdi-file-outline
                                td 
                                    a(href="")
                                        em.lnr.lnr-download
                            tr 
                                td.title Hiểu rõ khái niệm dòng cắt của thiết bị chóng sét lan truyền
                                td 20/10/1029

                                td 
                                    a(href="" data-fancybox="image")
                                        em.mdi.mdi-file-outline
                                td 
                                    a(href="")
                                        em.lnr.lnr-download
                            tr 
                                td.title Tìm hiểu công nghệ độc quyền TPMOV của Mersen
                                td 20/10/1029

                                td 
                                    a(href="" data-fancybox="image")
                                        em.mdi.mdi-file-outline
                                td 
                                    a(href="")
                                        em.lnr.lnr-download
                            tr 
                                td.title So sánh sự khác nhau giữa cầu chì và CB cho ứng dụng hạ thế
                                td 20/10/1029

                                td 
                                    a(href="" data-fancybox="image")
                                        em.mdi.mdi-file-outline
                                td 
                                    a(href="")
                                        em.lnr.lnr-download
                            tr 
                                td.title Bảng hướng dẫn chọn thiết bị bảo vệ cho hệ thống năng lượng mặt trời
                                td 20/10/1029

                                td 
                                    a(href="" data-fancybox="image")
                                        em.mdi.mdi-file-outline
                                td 
                                    a(href="")
                                        em.lnr.lnr-download
                            tr 
                                td.title Cách đấu dây chống sét theo tiêu chuẩn UL
                                td 20/10/1029

                                td 
                                    a(href="./img/tl/10.png" data-fancybox="image")
                                        em.mdi.mdi-file-outline
                                td 
                                    a(href="")
                                        em.lnr.lnr-download
                            
                .pages
                    .modulepager
                        ul.pagination
                            li.PagerCurrentPageCell.active
                                span.SelectedPage 1
                            li.PagerOtherPageCells
                                a.ModulePager(href='#') 2
                            li.PagerOtherPageCells
                                a.ModulePager.NextPage(href='#') ›
                            li.PagerOtherPageCells
                                a.ModulePager.LastPage(href='#') »
                        