section.dq-recruitment-1
    .container
        .main-content
            .row
                .col
                    h2.main-title Môi trường làm việc
            .row.item
                .col-md-6
                    .content
                        h3 Môi trường tuyển dụng
                        p Châu Vĩnh Cường luôn  ưu tiên các chính sách đãi ngộ cho nhân viên, vì chúng tôi biết rằng để có được kết quả làm việc tốt, sản phẩm chất lượng thì bất kì một nhân viên nào cũng phải dốc hết tâm huyết vào công việc. Chúng tôi luôn có các chính sách đãi ngộ giúp khuyến khích, thúc đẩy tinh thần làm việc của mọi nhân viên. Ngoài ra, mỗi nhân viên sẽ được tham gia các hoạt động cũng như được đào tạo các kỹ năng nhằm giúp cho nhân viên phát triển thế mạnh và giữ nhân viên làm việc lâu dài tại Công ty.
                .col-md-6
                    .image
                        img(src="http://preview5989.canhcam.com.vn/Data/Sites/1/News/112/1.png", alt="")
            .row.item
                .col-md-6
                    .content
                        h3 CHẾ ĐỘ PHÚC LỢI
                        ul
                            li Được tham gia đào tạo nâng cao năng lực
                            li Tiếp xúc với các công nghệ mới
                            li Môi trường làm việc quốc tế
                            li Tổ chức team building hàng năm cho nhân viên

                .col-md-6
                    .image
                        img(src="http://preview5989.canhcam.com.vn/Data/Sites/1/News/112/1.png", alt="")
section.dq-recruitment-2
    .container
        .row
            .col
                h2.main-title Danh sách tuyển dụng
        .row
            .col
                .main-table
                    table
                        thead
                            tr
                                th STT
                                th Vị trí công việc
                                th Khu vực
                                th Số lượng
                                th Ngày bắt đầu
                                th Thời hạn
                                th
                        tbody
                            tr
                                td 01
                                td Nhân viên sale
                                td Khu vực TPHCM
                                td 2
                                td 16/10/2019
                                td 30/12/2019
                                td
                                    a(href="javascript:void(0)") Ứng tuyển
                            tr
                                td 02
                                td Nhân viên mua hàng (Biết Tiếng Trung)
                                td Khu vực TPHCM
                                td 2
                                td 16/10/2019
                                td 30/12/2019
                                td
                                    a(href="javascript:void(0)") Ứng tuyển
                            tr
                                td 03
                                td Nhân viên Marketing
                                td Khu vực TPHCM
                                td 2
                                td 16/10/2019
                                td 30/12/2019
                                td
                                    a(href="javascript:void(0)") Ứng tuyển
                            tr
                                td 04
                                td Nhân viên Kỹ Thuật
                                td Khu vực TPHCM
                                td 2
                                td 16/10/2019
                                td 30/12/2019
                                td
                                    a(href="javascript:void(0)") Ứng tuyển
                            tr
                                td 05
                                td Kế toán nội bộ
                                td Khu vực TPHCM
                                td 2
                                td 16/10/2019
                                td 30/12/2019
                                td
                                    a(href="javascript:void(0)") Ứng tuyển
section.canhcam-job-2
    .container
        .row
            .col
                .Module.Module-252
                    .ModuleContent
                        h2.title BẠN MUỐN GIA NHẬP VÀO ĐỘI NGŨ CHÂU VĨNH CƯỜNG ?
                        .desc
                            p Hãy dành cho bạn một cơ hội và gắn kết với một đột ngũ chuyên nghiệp của chúng tôi 

                        .link
                            a(href='javascript:void(0)') ứng tuyển ngay

