section.pd-60.lienhe
	.container.Module.Module-185
		.ModuleContent
			.tagline
				h2.main-title.center Liên hệ
			.contact-map
				.items-wrapper
					.items
						.item.active
							h2 CÔNG TY TNHH TM DV CHÂU VĨNH CƯỜNG
							p
								em.mdi.mdi-map-marker
								span 220/71 Lê Văn Sỹ, Phường 14,  Quận 3, TP Hồ Chí Minh
							p
								em.mdi.mdi-phone
								span (028) 3526 0061 - (028) 3526 0049
							p
								em.mdi.mdi-printer
								span (028) 3526 0064
							a(href='mailto:cvc.vina@cvcvina.com')
								em.mdi.mdi-email
								span  info@cvcvina.com
							.map-iframe.hidden
								iframe(src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d15677.193510101188!2d106.6812962!3d10.7884439!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xf2895e1477df2be0!2zQ8O0bmcgdHkgVE5ISCBUTSBEViBDaMOidSBWxKluaCBDxrDhu51uZw!5e0!3m2!1svi!2s!4v1571281841004!5m2!1svi!2s" width="600" height="450" frameborder="0" style="border:0;" allowfullscreen="")

						
				#contactMap.map
					iframe(src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d15677.193510101188!2d106.6812962!3d10.7884439!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xf2895e1477df2be0!2zQ8O0bmcgdHkgVE5ISCBUTSBEViBDaMOidSBWxKluaCBDxrDhu51uZw!5e0!3m2!1svi!2s!4v1571281841004!5m2!1svi!2s" width="600" height="450" frameborder="0" style="border:0;" allowfullscreen="")
section(style='padding-bottom: 60px')
	.container
		.form-contact-v1.Module.Module-193
			.ModuleContent
				#ctl00_mainContent_ctl01_pnlFormWizard
					#ctl00_mainContent_ctl01_pnlForm.wrap-form(onkeypress="javascript:return WebForm_FireDefaultButton(event, 'ctl00_mainContent_ctl01_btnSubmit')")
						#ctl00_mainContent_ctl01_pnlQuestions
							.row
								h2.col-12
									|Quý khách vui lòng điền thông tin vào mẫu bên dưới và gửi những góp ý, thắc mắc cho 
									a(href="") Châu Vĩnh Cường 
									|chúng tôi sẽ phản hồi email của Quý Khách trong thời gian sớm nhất.
								.form-group.qtext.require.col-lg-6
									input#ctl00_mainContent_ctl01_ctl1573f948a5ba411097ba6672f631f230_txt1573f948a5ba411097ba6672f631f230(name='ctl00$mainContent$ctl01$ctl1573f948a5ba411097ba6672f631f230$txt1573f948a5ba411097ba6672f631f230', type='text', placeholder='Họ tên')
									span#ctl00_mainContent_ctl01_ctl1573f948a5ba411097ba6672f631f230_val1573f948a5ba411097ba6672f631f230.fa.fa-exclamation-triangle(style='display:none;') Vui lòng nhập Họ tên.
								.form-group.qtext.require.col-lg-6
									input#ctl00_mainContent_ctl01_ctl899593e25a6549d09971c39157ac08c0_txt899593e25a6549d09971c39157ac08c0(name='ctl00$mainContent$ctl01$ctl899593e25a6549d09971c39157ac08c0$txt899593e25a6549d09971c39157ac08c0', type='text', placeholder='Email')
									span#ctl00_mainContent_ctl01_ctl899593e25a6549d09971c39157ac08c0_val899593e25a6549d09971c39157ac08c0.fa.fa-exclamation-triangle(style='display:none;') Vui lòng nhập Email.
								.form-group.qtext.require.col-lg-6
									input#ctl00_mainContent_ctl01_ctl02acee5a335e4799bfa69dbbc4e96a2a_txt02acee5a335e4799bfa69dbbc4e96a2a(name='ctl00$mainContent$ctl01$ctl02acee5a335e4799bfa69dbbc4e96a2a$txt02acee5a335e4799bfa69dbbc4e96a2a', type='text', placeholder='Số điện thoại')
									span#ctl00_mainContent_ctl01_ctl02acee5a335e4799bfa69dbbc4e96a2a_val02acee5a335e4799bfa69dbbc4e96a2a.fa.fa-exclamation-triangle(style='display:none;') Vui lòng nhập Số điện thoại.
								.form-group.qtext.require.col-lg-6
									input#ctl00_mainContent_ctl01_ctlebd61ef17901421c969e3ef743e73afd_txtebd61ef17901421c969e3ef743e73afd(name='ctl00$mainContent$ctl01$ctlebd61ef17901421c969e3ef743e73afd$txtebd61ef17901421c969e3ef743e73afd', type='text', placeholder='Tiêu đề')
									span#ctl00_mainContent_ctl01_ctlebd61ef17901421c969e3ef743e73afd_valebd61ef17901421c969e3ef743e73afd.fa.fa-exclamation-triangle(style='display:none;') Vui lòng nhập Tiêu đề.
								.form-group.qparagraph.require.col-12
									textarea#ctl00_mainContent_ctl01_ctl0f7c978029904e52a04a6256a384944e_txt0f7c978029904e52a04a6256a384944e(name='ctl00$mainContent$ctl01$ctl0f7c978029904e52a04a6256a384944e$txt0f7c978029904e52a04a6256a384944e', rows='2', cols='20', placeholder='Nội dung')
									span#ctl00_mainContent_ctl01_ctl0f7c978029904e52a04a6256a384944e_val0f7c978029904e52a04a6256a384944e.fa.fa-exclamation-triangle(style='display:none;') Vui lòng nhập Nội dung.
						#ctl00_mainContent_ctl01_divCaptcha.form-group.frm-captcha
							.frm-captcha-input
								label.label
									| Nhập mã hiển thị
								input#ctl00_mainContent_ctl01_txtCaptcha(name='ctl00$mainContent$ctl01$txtCaptcha', type='text', maxlength='5', placeholder='Nhập mã hiển thị')
							#ctl00_mainContent_ctl01_captcha.RadCaptcha.RadCaptcha_Default(style='width:50%;')
								// 2017.3.913.40
								span#ctl00_mainContent_ctl01_captcha_ctl00(style='visibility:hidden;') Mã không đúng.
								#ctl00_mainContent_ctl01_captcha_SpamProtectorPanel
									#ctl00_mainContent_ctl01_captcha_ctl01
										img#ctl00_mainContent_ctl01_captcha_CaptchaImageUP(alt='', src='https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSum4n_r2AQdP97MMORp2krO5iERb8LXsWj3qenNfBUcSjVKsDl', style='height:50px;width:180px;display:block;')
										a#ctl00_mainContent_ctl01_captcha_CaptchaLinkButton.rcRefreshImage(title='Hình ảnh mới', href="javascript:__doPostBack('ctl00$mainContent$ctl01$captcha$CaptchaLinkButton','')", style='display:block;') Hình ảnh mới
								input#ctl00_mainContent_ctl01_captcha_ClientState(name='ctl00_mainContent_ctl01_captcha_ClientState', type='hidden', autocomplete='off')
						#ctl00_mainContent_ctl01_up1(style='display:none;', role='status', aria-hidden='true')
							img(src='/Data/SiteImages/indicators/indicator1.gif', alt=' ')
						.form-group.frm-btnwrap
							label.label  
							.frm-btn
								input#ctl00_mainContent_ctl01_btnSubmit.btn.btn-default.frm-btn-submit(type='submit', name='ctl00$mainContent$ctl01$btnSubmit', value='Gửi', onclick='javascript:WebForm_DoPostBackWithOptions(new WebForm_PostBackOptions("ctl00$mainContent$ctl01$btnSubmit", "", true, "formwizard2b867121-df13-4cae-af80-427d359304c7", "", false, false))')
								input#ctl00_mainContent_ctl01_btnReset.btn.btn-default.frm-btn-reset(name='ctl00$mainContent$ctl01$btnReset', type='reset', value='Xóa')
								input#ctl00_mainContent_ctl01_hdnResponseSetGuid(type='hidden', name='ctl00$mainContent$ctl01$hdnResponseSetGuid')
						.clear
