//- section.thuong-hieu 
//-     .container 
//-         .row 
//-             .col-lg-6
//-                 .img
//-                     img(src="./img/thuong-hieu.jpg", alt="")
//-             .col-lg-6 
//-                 .content 
//-                     span BUSSMANN 
//-                     p Cooper Industries là nhà sản xuất các sản phẩm điện tử trên khắp nước Mỹ với doanh thu năm 2011$ 5,4 tỷ USD 
//-                     p Được thành lập vào năm 1833, công ty đã có bảy bộ phận bao gồm cầu chì Bussmann, cầu chì điện tử; thiết bị điện chống cháy nổ Crouse Hinds-CEAG; thiết bị chiếu sáng Halo và Metalux; và sản phẩm năng lượng Kyle và McGraw-Edison.  
//-                     p Với hàng loạt các sản phẩm này, Cooper xứng đáng với xu hướng phát triển lâu dài bao gồm cả xây dựng cơ sở hạ tầng toàn cầu, nhu cầu phải cải thiện sự tin cậy và năng suất của lưới điện, nhu cầu về các sản phẩm tiết kiệm năng lượng cao hơn và nhu cầu cải thiện an toàn điện. Vào năm 2011, 59% phần trăm của tổng doanh thu bán ra cho khách hàng trong công nghiệp, bốn mươi phần trăm tổng doanh thu là bán cho các khách hàng bên ngoài nước Mỹ. Năm 2011Cooper có các cơ sở sản xuất tại 23 quốc gia.
//-         .other-brand(setBackground='./img/background-doitac.png')
//-             .title
//-                 h1.main-title đối tác - khách hàng
//-             .slider
//-                 .row
//-                     .col-6.doitac-slider
//-                         h4 ĐỐI TÁC
//-                         .swiper-container
//-                             .swiper-wrapper
//-                                 .swiper-slide
//-                                     .item
//-                                         img(src="./img/brand/1.png", alt="")
                                    
//-                                 .swiper-slide
//-                                     .item
//-                                         img(src="./img/brand/2.png", alt="")
//-                                 .swiper-slide
//-                                     .item
//-                                         img(src="./img/brand/3.png", alt="")
//-                                 .swiper-slide
//-                                     .item
//-                                         img(src="./img/brand/7.png", alt="")
//-                                 .swiper-slide
//-                                     .item
//-                                         img(src="./img/brand/8.png", alt="")
//-                                 .swiper-slide
//-                                     .item
//-                                         img(src="./img/brand/9.png", alt="")
//-                                 .swiper-slide
//-                                     .item
//-                                         img(src="./img/brand/8.png", alt="")
//-                                 .swiper-slide
//-                                     .item
//-                                         img(src="./img/brand/9.png", alt="")
//-                         ///control
//-                         .swiper-btnnext
//-                             em.lnr.lnr-arrow-right
//-                         .swiper-btnprev
//-                             em.lnr.lnr-arrow-left
//-                     .col-6.khachhang-slider
//-                         h4 KHÁCH HÀNG
//-                         .swiper-container
//-                             .swiper-wrapper
//-                                 .swiper-slide
//-                                     .item
//-                                         img(src="./img/brand/4.png", alt="")
                                    
//-                                 .swiper-slide
//-                                     .item
//-                                         img(src="./img/brand/5.png", alt="")
//-                                 .swiper-slide
//-                                     .item
//-                                         img(src="./img/brand/6.png", alt="")
//-                                 .swiper-slide
//-                                     .item
//-                                         img(src="./img/brand/10.png", alt="")
//-                                 .swiper-slide
//-                                     .item
//-                                         img(src="./img/brand/11.png", alt="")
//-                                 .swiper-slide
//-                                     .item
//-                                         img(src="./img/brand/12.png", alt="")
//-                                 .swiper-slide
//-                                     .item
//-                                         img(src="./img/brand/11.png", alt="")
//-                                 .swiper-slide
//-                                     .item
//-                                         img(src="./img/brand/12.png", alt="")
//-                         ///control
//-                         .swiper-btn-next
//-                             em.lnr.lnr-arrow-right
//-                         .swiper-btn-prev
//-                             em.lnr.lnr-arrow-left

section.nikko-brand
    .container
        h2.main-title Thương hiệu
        .main-wrapper
            .brand-list-wrapper
                - for(i=1;i<13;i++)
                    .item
                        a(href="./chi-tiet-thuong-hieu.html")
                            figure
                                .ic(style='height: 150px;')
                                    img(src="./img/pnr/"+i+".png", alt="")