section.home-product-1 

    .container 
        h1.main-title sản phẩm nổi bật 
        .list-item 
            .item.item--1 
                .img 
                    img(src="./img/about/pro2-1.png", alt="")
                .title 
                    a(href="") demo 
            .item.item--2
                .items
                    .img 
                        img(src="./img/about/pro2-2.png", alt="")
                    .title 
                        a(href="") demo 
                .items
                    .img 
                        img(src="./img/about/pro2-3.png", alt="")
                    .title 
                        a(href="") demo 
            .item.item--3
                .img 
                    img(src="./img/about/pro2-4.png", alt="")
                .title 
                    a(href="") demo 
section.home-product-2
    .container
        h1.main-title sản phẩm mới
        .slider
            .swiper-container 
                .swiper-wrapper 
                    .swiper-slide 
                        .item 
                            .img 
                                img(src="./img/pro1.png", alt="")
                            .title 
                                .top 
                                    a(href="") Chống sét 
                                    p STPT12-12K275V-4PGM
                                .bottom 
                                    p STPT12-12K275V-4PGM
                    .swiper-slide 
                        .item 
                            .img 
                                img(src="./img/pro1.png", alt="")
                            .title 
                                .top 
                                    a(href="") Chống sét 
                                    p STPT12-12K275V-4PGM
                                .bottom 
                                    p STPT12-12K275V-4PGM
                    .swiper-slide 
                        .item 
                            .img 
                                img(src="./img/pro1.png", alt="")
                            .title 
                                .top 
                                    a(href="") Chống sét 
                                    p STPT12-12K275V-4PGM
                                .bottom 
                                    p STPT12-12K275V-4PGM
                    .swiper-slide 
                        .item 
                            .img 
                                img(src="./img/pro1.png", alt="")
                            .title 
                                .top 
                                    a(href="") Chống sét 
                                    p STPT12-12K275V-4PGM
                                .bottom 
                                    p STPT12-12K275V-4PGM
                    .swiper-slide 
                        .item 
                            .img 
                                img(src="./img/pro1.png", alt="")
                            .title 
                                .top 
                                    a(href="") Chống sét 
                                    p STPT12-12K275V-4PGM
                                .bottom 
                                    p STPT12-12K275V-4PGM
                    .swiper-slide 
                        .item 
                            .img 
                                img(src="./img/pro1.png", alt="")
                            .title 
                                .top 
                                    a(href="") Chống sét 
                                    p STPT12-12K275V-4PGM
                                .bottom 
                                    p STPT12-12K275V-4PGM
                    
            .swiper-navigation
                .p2-button-prev
                    img(src="./img/left.png", alt="")
                .p2-button-next
                    img(src="./img/right.png", alt="")