section.cvc-project-detail-3
    .container
        .catelogy
            .other-projects
                h3 Dự án khác
                .row
                    .col-md-6.col-lg-4
                        .item
                            figure
                                .image
                                    a(href="#")
                                        img(src="./img/project/1.png", alt="")
                                figcaption
                                    h4
                                        a(href="#") Dự án nhà máy Bosch – Long Thành, Đồng Nai
                    .col-md-6.col-lg-4
                        .item
                            figure
                                .image
                                    a(href="#")
                                        img(src="./img/project/2.jpg", alt="")
                                figcaption
                                    h4
                                        a(href="#") Cung cấp cầu chì các loại cho Điện lực Bình Phú 
                    .col-md-6.col-lg-4
                        .item
                            figure
                                .image
                                    a(href="#")
                                        img(src="./img/project/3.jpg", alt="")
                                figcaption
                                    h4
                                        a(href="#") Cung cấp cầu chì các loại cho công ty Cổ phần Thiết bị điện Tuấn An