
section.sanpham-wrapper.pd-60
	.container.product-detail
		h1.main-title  CẦU CHÌ BUSSMANN / EATON 170M3819
		.row
			.col-lg-6
				.product-image-slider
					.product-thumbnails-nav
						span.lnr.lnr-chevron-up
						span.lnr.lnr-chevron-down
					.swiper-container.product-thumbnails
						.swiper-wrapper
							.swiper-slide
								.imgbox
									img(src="./img/sp/ct/1.jpg", alt="")
							.swiper-slide
								.imgbox
									img(src="./img/sp/ct/1-2.jpg", alt="")
							.swiper-slide
								.imgbox
									img(src="./img/sp/ct/1-3.jpg", alt="")
							.swiper-slide
								.imgbox
									img(src="./img/sp/ct/1-4.jpg", alt="")
					.swiper-container.product-images
						.swiper-wrapper
							.swiper-slide
								.imgbox
									img.swiper-lazy(data-src="./img/sp/ct/1.jpg", alt="")
							.swiper-slide
								.imgbox
									img.swiper-lazy(data-src="./img/sp/ct/1-2.jpg", alt="")
							.swiper-slide
								.imgbox
									img.swiper-lazy(data-src="./img/sp/ct/1-3.jpg", alt="")
							.swiper-slide
								.imgbox
									img.swiper-lazy(data-src="./img/sp/ct/1-4.jpg", alt="")
			.col-lg-6
				//- .brief-content
				//- 	p Tủ hòa bộ Đạt Vĩnh Tiến được thiết kế theo dạng Module hóa, dễ dàng thay đổi, mở rộng, nâng công suất mà không ảnh hưởng đến hệ thống hiện hữu. Tốc độ hòa đồng bộ cực nhanh, có khả năng quản lý bằng máy tính thông qua đấu nối trực tiếp hoặc đấu nối qua Internet. 
				.product-attributes
					table
						tbody
							tr
								th Mã sản phẩm
								td 170M3819
							tr
								th Part number
								td Part no
							tr
								th Xuất xứ
								td China
							tr
								th Bảo hành 
								td 24 tháng
					.brand
						table
							tbody
								tr
									th Hãng sản xuất
									td 
										a.brand(href="./chi-tiet-thuong-hieu.html") Bussmann 
				.contact
					a.button.button--1(href="") Liên hệ
					a.button.button--2(href="") Catalogue 170M3819
									
				.social
			.col-12
				.product-info
					.product-detail-title 
						ul.detail-navigation 
							li.tab-link.current(data-tab='tab-1') Thông tin sản phẩm 
							li.tab-link(data-tab='tab-2') Thông tin kỹ thuật
							li.tab-link(data-tab='tab-3') Thông tin khác
					.product-attributes#tab-3.noi-dung
						p Lorem ipsum dolor sit amet consectetur adipisicing elit. Id, voluptatum, deserunt quos quisquam illo cupiditate repellendus dolores cum recusandae saepe non, optio fugiat ex dicta tempore illum commodi odit pariatur!
					.product-attributes#tab-2.noi-dung
						p Lorem ipsum dolor sit amet consectetur adipisicing elit. Id, voluptatum, deserunt quos quisquam illo cupiditate repellendus dolores cum recusandae saepe non
					.product-attributes#tab-1.noi-dung.current
						table
							tbody
								tr 
									th Sản phẩm
									td Cầu chì Bussmann / Eaton 170M3815   
								tr
									th Điện thế định mức
									td 690V/700V (IEC/UL)  
								tr
									th Dòng điện định mức
									td 200A 
								tr
									th Dòng cắt
									td 200kA 
								tr
									th Kích thước
									td NH1 
								tr 
									th Loại
									td cầu chì cắt nhanh (aR) - High speed fuse 
								tr 
									th Tiêu chuẩn  
									td IEC 60269-4
								tr 
									th Ứng dụng
									td Bảo vệ biến tần, UPS, bộ nguồn... 
					//- .full-content
					//- 	p Tủ điện hòa đồng bộ thực hiện các công việc để đưa các máy phát điện hay các nguồn điện đang làm việc độc lập vào làm việc song song với nhau. Đây là giải pháp kỹ thuật cao nhằm mục đích nâng cao độ tin cậy cung cấp điện và tối ưu hóa trong việc tiết kiệm nhiên liệu.
					//- 	p Ứng dụng lớn nhất của tủ điện hòa đồng bộ là trong trường hợp nguồn điện chính bị sự cố thì các máy phát điện dự phòng sẽ tự động khởi động, tự hòa đồng bộ và chia tải với nhau, ngoài ra hệ thống còn có chức năng tự động giám sát phụ tải và điều khiển cho chạy số lượng máy phát theo nhu cầu của phụ.
					.btn-wrapper
						a.btn-viewmore.red(href="javascript:void(0)")
							span Đọc thêm
							span.lnr.lnr-arrow-right
			.col-12
				.product-others
					.product-detail-title
						h5 Sản phẩm khác
					.product-others-nav
						span.lnr.lnr-arrow-left
						span.lnr.lnr-arrow-right
					.swiper-container
						.swiper-wrapper
							.swiper-slide
								.product-item
									.imgbox
										a(href="/chi-tiet-san-pham.html")
											img(src="./img/sp/1.jpg", alt="")
									.title
										h4 Cầu chì Bussmann / Eaton 170M3819
									.info-hover
										h4
											a(href="/chi-tiet-san-pham.html") Cầu chì Bussmann / Eaton 170M3819
										a.btn-viewmore.white(href="/chi-tiet-san-pham.html") 
											span Xem thêm
											span.lnr.lnr-arrow-right
							.swiper-slide
								.product-item
									.imgbox
										a(href="/chi-tiet-san-pham.html")
											img(src="./img/sp/2.jpg", alt="")
									.title
										h4 Cầu chì Ferraz Shawmut 45DB240V160P
									.info-hover
										h4
											a(href="/chi-tiet-san-pham.html") Cầu chì Ferraz Shawmut 45DB240V160P
										a.btn-viewmore.white(href="/chi-tiet-san-pham.html") 
											span Xem thêm
											span.lnr.lnr-arrow-right
							.swiper-slide
								.product-item
									.imgbox
										a(href="/chi-tiet-san-pham.html")
											img(src="./img/sp/3.jpg", alt="")
									.title
										h4 Cầu chì 10X38 FERRAZ SHAWMUT FR10GR69V8 
									.info-hover
										h4
											a(href="/chi-tiet-san-pham.html") Cầu chì 10X38 FERRAZ SHAWMUT FR10GR69V8 
										a.btn-viewmore.white(href="/chi-tiet-san-pham.html") 
											span Xem thêm
											span.lnr.lnr-arrow-right