section.about-nav 
    .container 
        ul 
            li 
                a sơ lược về cvc 
            li 
                a sơ lược về cvc 
            li 
                a sơ lược về cvc 
            li 
                a sơ lược về cvc 
            
