section.home-why(setBackground="./img/about/home-bg2.png")
    .container 
        h1.main-title  tại sao chọn chúng tôi
        .list-item 
            .item
                .img 
                    img(src="./img/h-ic2.png", alt="")
                span đặt uy tín lên hàng đầu
            .item
                .img 
                    img(src="./img/h-ic1.png", alt="")
                span đội ngũ kỹ thuật nhiều kinh nghiệm
            .item
                .img 
                    img(src="./img/h-ic3.png", alt="")
                span Đội ngũ y bác sĩ
            .item
                .img 
                    img(src="./img/h-ic4.png", alt="")
                span Năm kinh nghiệm

.box-bottom(setBackground="./img/bg-red.png")
    .container
        .list
            .item 
                .big 
                    span.number 100 
                        span.plus +
                .small 
                    p khách hàng
            .item 
                .big 
                    span.number 100 
                        span.plus +
                .small 
                    p khách hàng
            .item 
                .big 
                    span.number 100 
                        span.plus +
                .small 
                    p khách hàng
            .item 
                .big 
                    span.number 100 
                        span.plus +
                .small 
                    p khách hàng
            .item 
                .big 
                    span.number 100 
                        span.plus +
                .small 
                    p khách hàng
        