extends _layout.pug

block var
	- var title = 'chi tiết dự án'
	- var bodyClass = 'chi-tiet-du-an-page'

block main
	include ../components/_global/banner.pug
	include ../components/_global/breadcrumb.pug
	include ../components/chi-tiet-du-an/dt-1/index
	include ../components/chi-tiet-du-an/dt-2/index
	include ../components/chi-tiet-du-an/dt-3/index
