extends _layout.pug

block var
	- var title = 'Dự án'
	- var bodyClass = 'du-an-page'

block main
	include ../components/_global/banner.pug
	include ../components/_global/breadcrumb.pug
	include ../components/du-an/index