extends _layout.pug

block var
	- var title = 'hỏi đáp'
	- var bodyClass = 'hoi-dap-page'

block main
	include ../components/_global/banner.pug
	include ../components/_global/breadcrumb.pug
	include ../components/hoi-dap/index