extends _layout.pug

block var
	- var title = 'Thương hiệu'
	- var bodyClass = 'Thuong-hieu-page'

block main
	include ../components/_global/banner.pug
	include ../components/_global/breadcrumb.pug
	include ../components/thuong-hieu/index