extends _layout.pug

block var
	- var title = 'tuyển dụng'
	- var bodyClass = 'tuyen-dung-page'

block main
	include ../components/_global/banner.pug
	include ../components/tuyen-dung/breadcrumb.pug
	include ../components/tuyen-dung/index