section.cvc-project-detail-2
    .container
        .catelogy
            .used-products
                h3 Sản phẩm đã sử dụng
                .box
                    .swiper-container
                        .swiper-wrapper
                            .swiper-slide
                                .product-item
                                    .imgbox
                                        a(href="/chi-tiet-san-pham.html")
                                            img(src="./img/sp/1.jpg", alt="")
                                    .title
                                        h4 Cầu chì Bussmann / Eaton 170M3819
                                    .info-hover
                                        h4
                                            a(href="/chi-tiet-san-pham.html") Cầu chì Bussmann / Eaton 170M3819
                                        a.btn-viewmore.white(href="/chi-tiet-san-pham.html") 
                                            span Xem thêm
                                            span.lnr.lnr-arrow-right
                            .swiper-slide
                                .product-item
                                    .imgbox
                                        a(href="/chi-tiet-san-pham.html")
                                            img(src="./img/sp/1.jpg", alt="")
                                    .title
                                        h4 Cầu chì Bussmann / Eaton 170M3819
                                    .info-hover
                                        h4
                                            a(href="/chi-tiet-san-pham.html") Cầu chì Bussmann / Eaton 170M3819
                                        a.btn-viewmore.white(href="/chi-tiet-san-pham.html") 
                                            span Xem thêm
                                            span.lnr.lnr-arrow-right