section.home-about(setBackground="./img/about/home-bg1.png")
    .container 
        h1.main-title Giới thiệu 
        p CVC là đơn vị cung cấp các thiết bị điện công nghiệp và tự động hóa 
            br
            | hàng đầu trên Thế giới
        a(href="").video 
            iframe(width="560" height="315" src="https://www.youtube.com/embed/ZGf8KiAe4Js" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen)
        p Với phương châm 
            b "Kết nối Khách hàng - Kết nối thành công"
            br
            | CVC Việt Nam cam kết luôn luôn cung cấp sản phẩm và dịch vụ tốt nhất.
        .btn-view-more 
            
            a(href="") 
                img(src="./img/ic-btn.png", alt="")
                | Xem thêm