section.home-news
    .container
        h1.main-title Tin tức
        .slider
            .swiper-container 
                .swiper-wrapper 
                    .swiper-slide 
                        .item.item--1
                            .content
                                time 22/22/2022
                                a.title(href="") FERRAZ SHAWMUT – SỰ KHÁC BIỆT CÔNG NGHỆ CHÍNH HÃNG
                                p Ferraz Shawmut là nhà sản xuất cầu chì công nghiệp hạ thế và trung thế cho rất nhiều lĩnh vực khác nhau trên thế giới, có tuổi đời hơn 130 năm...
                                .btn-view-more 
                                    a(href="") Xem thêm 
                                        img(src="./img/ic-btn.png", alt="")
                            .img 
                                img(src="./img/pro1.png", alt="")
                    
                    .swiper-slide 
                        .item.item--2
                            a(href="").img
                                img(src="./img/pro1.png", alt="")
                            .content
                                time 22/22/2022
                                a.title(href="") FERRAZ SHAWMUT – SỰ KHÁC BIỆT CÔNG NGHỆ CHÍNH HÃNG
                                p Ferraz Shawmut là nhà sản xuất cầu chì công nghiệp hạ thế và trung thế cho rất nhiều lĩnh vực khác nhau trên thế giới, có tuổi đời hơn 130 năm...
                                .btn-view-more 
                                    a(href="") Xem thêm 
                                        img(src="./img/ic-btn.png", alt="")
                    .swiper-slide 
                        .item.item--3
                            a(href="").img
                                img(src="./img/pro1.png", alt="")
                            .content
                                time 22/22/2022
                                a.title(href="") FERRAZ SHAWMUT – SỰ KHÁC BIỆT CÔNG NGHỆ CHÍNH HÃNG
                                p Ferraz Shawmut là nhà sản xuất cầu chì công nghiệp hạ thế và trung thế cho rất nhiều lĩnh vực khác nhau trên thế giới, có tuổi đời hơn 130 năm...
                                .btn-view-more 
                                    a(href="") Xem thêm 
                                        img(src="./img/ic-btn.png", alt="")
            .swiper-pagination
                    
                    