<?xml version="1.0" encoding="utf-8" ?>
<templates>
  <newstype name="Tin tức" value="0"></newstype>
  <!--<showoption name="Icon new" value="1"></showoption>-->

  <templatelist xsltname="contact-list.xslt" name="Danh sách địa chỉ"></templatelist>
  <templatelist xsltname="project.xslt" name="Danh sách dự án"></templatelist>
  <templatelist xsltname="news.xslt" name="Danh sách tin tức"></templatelist>
  <templatelist xsltname="video.xslt" name="Danh sách video"></templatelist>
  <templatelist xsltname="hinh-anh.xslt" name="Danh sách hinh anh"></templatelist>

  <templatelist xsltname="tuyen-dung.xslt" name="Danh sách tuyển dụng"></templatelist>
  <templatelist xsltname="thuong-hieu.xslt" name="Danh sách thương hiệu"></templatelist>
  <templatelist xsltname="hoi-dap.xslt" name="Danh sách hỏi đáp"></templatelist>

  <templatelist xsltname="tai-sao-chon.xslt" name="Danh sách tại sao"></templatelist>

  <templatelist xsltname="tai-lieu.xslt" name="Danh sách tai liệu"></templatelist>







  

  <templatedetail xsltname="TrucTiepCoTieuDe.xslt" name="Tin trực tiếp có tiêu đề"></templatedetail>
  <templatedetail xsltname="project-detail.xslt" name="chi tiết dự án"></templatedetail>
  <templatedetail xsltname="news-detail.xslt" name="chi tiết tin tức"></templatedetail>
  <templatedetail xsltname="tuyen-dung-chi-tiet.xslt" name="chi tiết tuyển dụng"></templatedetail>
  <templatedetail xsltname="chi-tiet-thuong-hieu.xslt" name="chi tiết thương hiệu"></templatedetail>




  

  <position>
    <add name="Trang chủ" value="1" resourcefile="" />
  </position>
</templates>