section.cvc-du-an.pt-60.pb-60
    .container
        h1.main-title Dự án
        .row
            .col-md-6.col-lg-4
                .item
                    figure
                        .image
                            a(href="#")
                                img(src="./img/project/1.png", alt="")
                        figcaption
                            a(href="#") Dự án nhà máy Bosch – Long Thành, Đồng Nai
            .col-md-6.col-lg-4
                .item
                    figure
                        .image
                            a(href="#")
                                img(src="./img/project/2.jpg", alt="")
                        figcaption
                            a(href="#") Cung cấp cầu chì các loại cho Điện lực Bình Phú 
            .col-md-6.col-lg-4
                .item
                    figure
                        .image
                            a(href="#")
                                img(src="./img/project/3.jpg", alt="")
                        figcaption
                            a(href="#") Cung cấp cầu chì các loại cho công ty Cổ phần Thiết bị điện Tuấn An
            .col-md-6.col-lg-4
                .item
                    figure
                        .image
                            a(href="#")
                                img(src="./img/project/4.jpg", alt="")
                        figcaption
                            a(href="#") Cung cấp cầu chì các loại cho các công ty tủ bảng điện
            .col-md-6.col-lg-4
                .item
                    figure
                        .image
                            a(href="#")
                                img(src="./img/project/5.png", alt="")
                        figcaption
                            a(href="#") Dự án nhà máy Bosch – Long Thành, Đồng Nai
            .col-md-6.col-lg-4
                .item
                    figure
                        .image
                            a(href="#")
                                img(src="./img/project/6.png", alt="")
                        figcaption
                            a(href="#") Dự án nhà máy Bosch – Long Thành, Đồng Nai
        .pages
            .modulepager
                ul.pagination
                    li.PagerCurrentPageCell.active
                        span.SelectedPage 1
                    li.PagerOtherPageCells
                        a.ModulePager(href='#') 2
                    li.PagerOtherPageCells
                        a.ModulePager(href='#') 3
                    li.PagerOtherPageCells
                        a.ModulePager.NextPage(href='#') ›
                    li.PagerOtherPageCells
                        a.ModulePager.LastPage(href='#') »