
.pp-home-team(setBackground="./img/about/bg-3.png")
    .container
        h1.main-title ban lãnh đạo
        .team-slider 
            .swiper-container 
                .swiper-wrapper 
                    .swiper-slide
                        a(data-fancybox data-animation-duration="700" data-src="#Modal" href="javascript:;" class="item")
                            .img 
                                img(src="./img/a1.png", alt="")
                            .title 
                                h3 ông. 
                                    span NGUYEN NGOC PHAT 
                                P Project Manager
                        #Modal(style='display: none;max-width:900px;')
                            .popup-wrapper
                                .img
                                    img(src="./img/a1.png", alt="")
                                .content
                                    .head
                                        h3 NGUYEN NGOC PHAT 
                                        P Project Manager
                                    .full-content
                                        p   Lorem ipsum dolor sit amet consectetur adipisicing elit. Autem quo dolore vel enim earum corrupti dolores repudiandae 
                                        p Lorem ipsum, dolor sit amet consectetur adipisicing elit. Earum dolorum obcaecati quo. Labore voluptatem, ut delectus beatae eum nostrum voluptatibus neque earum error laboriosam quos temporibus! Laborum iste officiis dicta?
                                        p Lorem ipsum dolor, sit amet consectetur adipisicing elit. Architecto doloribus rem voluptatum voluptas dolore porr
                                            o magnam earum qui corrupti sunt, expedita animi iusto delectus illum culpa aliquam dolorum laboriosam dolores.
                                        

                    .swiper-slide
                        a(data-fancybox data-animation-duration="700" data-src="#Modal1" href="javascript:;" class="item")
                            .img 
                                img(src="./img/a2.png", alt="")
                            .title 
                                h3 dennis tuan pham
                                P Director of Operations
                        #Modal1(style='display: none;max-width:900px;')
                            .popup-wrapper
                                .img
                                    img(src="./img/a2.png", alt="")
                                .content
                                    .head
                                        h3 dennis tuan pham
                                        P Director of Operations
                                    .full-content
                                        p   Lorem ipsum dolor sit amet consectetur adipisicing elit. Autem quo dolore vel enim earum corrupti dolores repudiandae 
                                        p Lorem ipsum, dolor sit amet consectetur adipisicing elit. Earum dolorum obcaecati quo. Labore voluptatem, ut delectus beatae eum nostrum voluptatibus neque earum error laboriosam quos temporibus! Laborum iste officiis dicta?
                                        p Lorem ipsum dolor, sit amet consectetur adipisicing elit. Architecto doloribus rem voluptatum voluptas dolore porr
                                            o magnam earum qui corrupti sunt, expedita animi iusto delectus illum culpa aliquam dolorum laboriosam dolores.
                    .swiper-slide
                        a(data-fancybox data-animation-duration="700" data-src="#Modal2" href="javascript:;" class="item")
                            .img 
                                img(src="./img/a3.png", alt="")
                            .title 
                                h3 NGUYEN NGOC PHAT 
                                P Art Director
                        #Modal2(style='display: none;max-width:900px;')
                            .popup-wrapper
                                .img
                                    img(src="./img/a3.png", alt="")
                                .content
                                    .head
                                        h3 NGUYEN NGOC PHAT 
                                        P Art Director
                                    .full-content
                                        p   Lorem ipsum dolor sit amet consectetur adipisicing elit. Autem quo dolore vel enim earum corrupti dolores repudiandae 
                                        p Lorem ipsum, dolor sit amet consectetur adipisicing elit. Earum dolorum obcaecati quo. Labore voluptatem, ut delectus beatae eum nostrum voluptatibus neque earum error laboriosam quos temporibus! Laborum iste officiis dicta?
                                        p Lorem ipsum dolor, sit amet consectetur adipisicing elit. Architecto doloribus rem voluptatum voluptas dolore porr
                                            o magnam earum qui corrupti sunt, expedita animi iusto delectus illum culpa aliquam dolorum laboriosam dolores.
                    .swiper-slide
                        a(data-fancybox data-animation-duration="700" data-src="#Modal3" href="javascript:;" class="item")
                            .img 
                                img(src="./img/a1.png", alt="")
                            .title 
                                h3 NGUYEN NGOC PHAT 
                                P Project Manager
                        #Modal3(style='display: none;max-width:900px;')
                            .popup-wrapper
                                .img
                                    img(src="./img/a2.png", alt="")
                                .content
                                    .head
                                        h3 NGUYEN NGOC PHAT 
                                        P Project Manager
                                    .full-content
                                        p   Lorem ipsum dolor sit amet consectetur adipisicing elit. Autem quo dolore vel enim earum corrupti dolores repudiandae 
                                        p Lorem ipsum, dolor sit amet consectetur adipisicing elit. Earum dolorum obcaecati quo. Labore voluptatem, ut delectus beatae eum nostrum voluptatibus neque earum error laboriosam quos temporibus! Laborum iste officiis dicta?
                                        p Lorem ipsum dolor, sit amet consectetur adipisicing elit. Architecto doloribus rem voluptatum voluptas dolore porr
                                            o magnam earum qui corrupti sunt, expedita animi iusto delectus illum culpa aliquam dolorum laboriosam dolores.
                    .swiper-slide
                        a(data-fancybox data-animation-duration="700" data-src="#Modal4" href="javascript:;" class="item")
                            .img 
                                img(src="./img/a2.png", alt="")
                            .title 
                                h3 dennis tuan pham 
                                P Director of Operations
                        #Modal4(style='display: none;max-width:900px;')
                            .popup-wrapper
                                .img
                                    img(src="./img/a2.png", alt="")
                                .content
                                    .head
                                        h3 dennis tuan pham 
                                        P Director of Operations
                                    .full-content
                                        p   Lorem ipsum dolor sit amet consectetur adipisicing elit. Autem quo dolore vel enim earum corrupti dolores repudiandae 
                                        p Lorem ipsum, dolor sit amet consectetur adipisicing elit. Earum dolorum obcaecati quo. Labore voluptatem, ut delectus beatae eum nostrum voluptatibus neque earum error laboriosam quos temporibus! Laborum iste officiis dicta?
                                        p Lorem ipsum dolor, sit amet consectetur adipisicing elit. Architecto doloribus rem voluptatum voluptas dolore porr
                                            o magnam earum qui corrupti sunt, expedita animi iusto delectus
                    .swiper-slide
                        a(data-fancybox data-animation-duration="700" data-src="#Modal5" href="javascript:;" class="item")
                            .img 
                                img(src="./img/a3.png", alt="")
                            .title 
                                h3 NGUYEN NGOC PHAT 
                                P Director
                        #Modal5(style='display: none;max-width:900px;')
                            .popup-wrapper
                                .img
                                    img(src="./img/a2.png", alt="")
                                .content
                                    .head
                                        h3 NGUYEN NGOC PHAT 
                                        P Director
                                    .full-content
                                        p   Lorem ipsum dolor sit amet consectetur adipisicing elit. Autem quo dolore vel enim earum corrupti dolores repudiandae 
                                        p Lorem ipsum, dolor sit amet consectetur adipisicing elit. Earum dolorum obcaecati quo. Labore voluptatem, ut delectus beatae eum nostrum voluptatibus neque earum error laboriosam quos temporibus! Laborum iste officiis dicta?
                                        p Lorem ipsum dolor, sit amet consectetur adipisicing elit. Architecto doloribus rem voluptatum voluptas dolore porr
                                            o magnam earum qui corrupti sunt, expedita animi iusto delectus