section.section.hoi-dap
    .container
        h1.main-title hỗ trợ khách hàng
        .row
            .col-lg-3
                .side-menu
                    .side-menu-mobile-header
                        h3 
                            span Chuyên mục
                            span.mdi.mdi-menu
                    .side-menu-list
                        .side-menu-item.active
                            h3.title
                                a(href="#") Hỏi đáp
                                span.lnr.lnr-chevron-down
                            //- ul(style="display: block")
                            //-     li
                            //-         a(href="#") kk
                                
								
                        .side-menu-item
                            h3.title 
                                a(href="#") Thông tin phân phối
                                span.lnr.lnr-chevron-down
                            //- ul
                            //-     li
                            //-         a(href="#") Hỏi Đáp, Thông tin phân phối, Tư vấn khách hàng
                        .side-menu-item
                            h3.title 
                                a(href="#") Tư vấn khách hàng 
                                span.lnr.lnr-chevron-down
            .col-lg-9
                .list-question
                    ol.list
                        li.accordion-title
                            p Cầu chì là gì? Có bao nhiêu loại cầu chì?
                            ul.accordion-content
                                li
                                    a(href="#") Cầu chì là thiết bị bảo vệ hệ thống điện bao gồm đường dây, thiết bị điện, máy móc sản xuất. Cấu tạo của cầu chì bao gồm dây chì được làm bằng bạc nguyên chất, khi có hiện tượng ngắn mạch hoặc quá tải, dòng điện tăng cao sẽ làm nóng và đứt dây chì, xung quanh dây chì được phủ lớp cát silic để ngăn chặn hiện tượng hồ quang điện, phía ngoài cùng là lớp sứ cách điện.
                                li 
                                    a Thông thường, cầu chì được chia làm 3 loại chính: cầu chì hạ thế, cầu chì trung thế và cầu chì bán dẫn.
                                li 
                                    a Cầu chì hạ thế: dùng để bảo vệ đường dây điện và thiết bị điện trong các tủ điện hạ thế.
                                li 
                                    a Cầu chì trung thế: dùng để bảo vệ máy biến áp, tụ bù trung thế.
                                li 
                                    a Cầu chì bán dẫn: dùng để bảo vệ các thiết bị điều khiển (biến tần, UPS, drivers…) có linh kiện bán dẫn bên trong như Mosfet, IGBT…


                        li.accordion-title
                            p Gắn cầu chì như thế nào? Các dòng series cầu chì phổ biến trong sản xuất và đời sống.
                            ul.accordion-content
                                li
                                    a 
                                        strong Có 2 cách gắn  cầu chì:
                                        span - Gắn trực tiếp lên busbar, board mạch hoặc bên trong máy
                                        span - Sử dụng đế cầu chì và phụ kiện phù hợp với từng loại cầu chì
                                        strong -Các dòng series cầu chì phổ biến:
                                        span Tủ điện tổng, tủ điện nhánh, tủ tụ bù: cầu chì gG.
                                        span Bảo vệ động cơ: cầu chì aM.
                                        span Bảo vệ máy biến áp: cầu chì Back-up 7.2kV; 12kV; 17.5kV; 24kV; 36kV.
                                        span Bảo vệ inverter, UPS, drivers: cầu chì aR, gS…
                                        span Bảo vệ tấm pin năng lượng mặt trời: cầu chì gPV.
                                        span Bảo vệ ắc quy: cầu chì NH.


                        li.accordion-title
                            p Tại sao CB không thể hoàn toàn thay thế cầu chì?
                            ul.accordion-content
                                li
                                    a(href="#") - Do một số máy móc đặc biệt, bên trong thiết bị có nhiều linh kiện điện tử đặc biệt khó tìm kiếm hàng thay thế ở Việt Nam.Khi xảy ra sự cố ngắn mạch hoặc quá tải CB không đáp ứng được thời gian cắt tải nhanh như cầu chì dẫn đến việc hư hỏng các kinh kiện này ảnh hưởng rất nặng nề đến thời gian sản xuất hàng hóa.
                                li 
                                    a - Trong ứng dụng backup cho thiết bị chống sét lan truyền, dòng cắt (dòng chịu đựng maximum) của CB chỉ khoảng 6 đến 10kA, trong khi đó dòng sét thường khoảng 20kA trở lên đánh vào sẽ gây cháy CB trước, trong khi xung sét không thể vào SPD xuống đất được, điều này gây hư hỏng rất nặng đến tủ tổng cũng như phụ tải. Để giải quyết vấn đề này cầu chì với dòng cắt 100kA- 200kA gắn trước SPD là 1 giải pháp cực kỳ hữu hiệu và tối ưu!

                        li.accordion-title
                            p Tôi có thể sử dụng cầu chì trung thế 24kV cho điện thế 12kV được không?
                            ul.accordion-content
                                li
                                    a(href="#") Nhà sản xuất khuyến cáo nên sử dụng đúng mức điện thế. Tuy nhiên, nếu trong trường hợp gấp, và không có đúng loại cầu chì thay thế, thì vẫn có thể sử dụng tạm cầu chì trung thế 24kV cho điện thế 12kV được. 
                                li
                                    a Trên thân cầu chì 24kV có 2 mức điện áp: 10/24kV, chúng ta có thể sử dụng trong dải điện áp này, nhưng sẽ có một thông số bị ảnh hưởng, đó là dòng quá tải I3. Nếu sử dụng điện thế 12kV, dòng quá tải I3 sẽ cao hơn so với catalouge của nhà sản xuất. Tuy nhiên, nếu máy biến áp của bạn luôn hoạt động ổn định và không bị quá tải, sự ảnh hưởng này cũng không quá nguy hiểm. Nhưng tốt nhất là sử dụng tạm và đặt đúng loại cầu chì về.

                        li.accordion-title
                            p Cầu chì có được bảo hành không? Trong thời gian bao lâu?
                            ul.accordion-content
                                li
                                    a(href="#") Ngoại trừ sự cố ngắn mạch, quá dòng làm đứt cầu chì, hoặc có tác động từ bên ngoài vào cầu chì ( va chạm làm nứt, bể cầu chì, nước, tạp chất, dung môi thấm vào cầu chì…), các trường hợp còn lại chúng tôi chúng tôi sẽ cam kết đổi mới cho quý khách sau khi xác định rõ nguyên nhân.
                                li
                                    a Thời gian bảo hành cầu chì là 12 tháng kể từ ngày giao hàng.
                .pages
                    .modulepager
                        ul.pagination
                            li.PagerCurrentPageCell.active
                                span.SelectedPage 1
                            li.PagerOtherPageCells
                                a.ModulePager(href='#') 2
                            li.PagerOtherPageCells
                                a.ModulePager.NextPage(href='#') ›
                            li.PagerOtherPageCells
                                a.ModulePager.LastPage(href='#') »
                        