section.cvc-about-1
    .main-content
        .item.item--1
            .container 
                .row
                    .col-md-6
                        .image
                            img(src="./img/about/1.png", alt="")
                    .col-md-6
                        .content
                            h3 Sơ lược về 
                                span(style="color: orange") c 
                                span(style="color: #3d6596") v
                                span(style="color: red") c
                            p Công ty TNHH Thương Mại Dịch Vụ Châu Vĩnh Cường ra đời vào 18/11/2010, chuyên doanh trong lĩnh vực cung cấp các sản phẩm tự động hóa, thiết bị cầu chì công nghiệp. Chúng tôi tự hào là đại lý phân phối của các nhà sản xuất danh tiếng hàng đầu thế giới: Mersen, Buzzman, SIEMENS…

                            p Qua hơn 8 năm đi vào hoạt động, CVC Việt Nam đã và đang tiếp tục khẳng định thương hiệu của mình qua các sản phẩm chất lượng:
                            .list-sl
                                li Cung cấp các máy móc, thiệt bị điện, tự động hóa công nghiệp
                                li Tư vấn, thiết kế hệ thống điện, tủ điện.
                                li Cung cấp các thiết bị bảo vệ Solar

                            p Cùng với đội ngũ cán bộ kỹ thuật được đào tạo nghiệp vụ chuyên sâu, bài bản và sự cố vấn của các chuyên gia đầu ngành giàu kinh nghiệm, CVC Việt Nam cam kết đáp ứng 
        .row.item.item--2
            .col-md-6
                .image
                    img(src="./img/about/2.png", alt="")
            .col-md-6.box-text
                .content
                    h3 tầm nhìn
                    p CVC Vietnam đánh giá sự thành công dựa trên sự thành công của khách hàng. Kết nối với khách hàng, lắng nghe nhu cầu và hỗ trợ khách hàng một cách nhanh chóng và chính xác.
                    p CVC Vietnam đã và đang phấn đấu trở thành đại lý, nhà phân phối các loại cầu chì công nghiệp, thiết bị tự động hóa và thiết bị bảo vệ solar hàng đầu Việt Nam. Nỗ lực không ngừng khẳng định vị thế của mình ở thị trường Việt Nam, CVC còn định hướng vươn ra thị trường ở khu vực Đông Nam Á: Myanmar, Indonesia, Lào, Campuchia….
        .row.item.item--3
            .col-md-6
                .image
                    img(src="./img/about/3.png", alt="")
            .col-md-6.box-text
                .content
                    h3 sứ mệnh
                    p CVC Vietnam cam kết cung cấp các dịch vụ và sản phẩm chất lượng tốt nhất với giá cả cạnh tranh nhằm mang lại giá trị cao nhất cho khách hàng với phương châm:
                    .list
                        li
                            .left
                                .img
                                    img(src="./img/ic-2.png", alt="")
                            .if
                                h4 Đặt uy tín lên hàng đầu
                                p Chúng tôi luôn nỗ lực để đảm bảo đúng cam kết của mình với khách hàng, đối tác.
                        li
                            .left
                                .img
                                    img(src="./img/ic-3.png", alt="")
                            .if
                                h4 Cam kết chất lượng cao
                                p CVC Vietnam cam kết cung cấp sản phẩm CHẤT LƯỢNG cao, sản phẩm chính hãng phù hợp với nhu cầu của từng khách hàng.
                        li
                            .left
                                .img
                                    img(src="./img/ic-4.png", alt="")
                            .if
                                h4 Tận tâm với khách hàng
                                p Chúng tôi đã và đang xây dựng đội ngũ sales và kỹ thuật TẬN TÂM luôn sẵn sàng chia sẻ từng nhu cầu của khách hàng, tư vấn và hỗ trợ khách hàng tìm được đúng sản phẩm mình cần một cách nhanh chóng và chính xác nhất.
                        li
                            .left
                                .img
                                    img(src="./img/ic-5.png", alt="")
                            .if
                                h4 Nghiệp vụ chuyên môn cao
                                p Không ngừng cập nhật kiến thức chuyên môn, nâng cao nghiệp vụ cá nhân, chúng tôi còn hướng đến một đội ngũ TRI THỨC, văn minh và hiểu biết. Khách hàng hoàn toàn có thể yên tâm với từng giải pháp mà chúng tôi tư vấn. 

                        
        .row.item.item--4
            .col-md-6
                .image
                    img(src="./img/about/4.png", alt="")
            .col-md-6.box-text
                .content
                    h3 giá trị cốt lõi
                    p KẾT NỐI KHÁCH HÀNG – KẾT NỐI THÀNH CÔNG