section.cvc-news.pt-60.pb-60
    .container 
        h1.main-title Truyền thông 
        nav 
            a.nav_item.active(href="") hoạt động nội bộ
            a.nav_item(href="") Báo chí nói gì về chúng tôi
            a.nav_item(href="") Hình ảnh 
            a.nav_item(href="") video
        